@namespace ServiceRecordFrontend.Components.Records
@using ServiceRecordFrontend.Models;
<div>
    <RecordFilter filterByMake="handleFilterByMake" />
    <table class="table border">
        <thead>
            <tr>
                <th scope="col">VIN</th>
                <th scope="col">Make</th>
                <th scope="col">Model</th>
                <th scope="col">Year</th>
                <th scope="col">Owner</th>
            </tr>
        </thead>
        <tbody>
            @if (filteredRecords?.Any() == true)
            {
                @foreach (var record in filteredRecords)
                {
                    <RecordItem record="record" />
                }
            }
            else
            {
                @foreach (var record in Records)
                {
                    <RecordItem record="record" />
                }
            }
        </tbody>
    </table>
</div>


@code {
    [Parameter]
    public List<Record> Records { get; set; } = new();

    public List<Record> filteredRecords { get; set; } = new();

    public void handleFilterByMake(string make)
    {
        var filtered = Records.Where(record => record.Make == make).ToList();
        Console.WriteLine($"{filtered}");
        Console.WriteLine("hi");
        filteredRecords = filtered;
        StateHasChanged();
    }
}