<h3>Add Record</h3>
<div class="d-flex flex-row align-items-center">
    <div class="d-flex flex-row">
        <p class="m-0">VIN</p>
        <input type="text">
    </div>
    <div class="d-flex flex-row">
        <p class="m-0">Make</p>
        <input type="text">
    </div>
    <div class="d-flex flex-row">
        <p class="m-0">Model</p>
        <input type="text">
    </div>
    <div class="d-flex flex-row">
        <p class="m-0">Year</p>
        <input type="text">
    </div>
</div>