@page "/"
@using ServiceRecordFrontend.Components.Records
@using ServiceRecordFrontend.Models;

@inject HttpClient HttpClient

<PageTitle>Home</PageTitle>

@* <RecordForm /> *@
<div class="d-flex flex-row justify-content-center gap-4">
    <section>
        <RecordList @rendermode="InteractiveServer" Records="Records" />
    </section>
    <section>
        <RecordForm />
    </section>
</div>


@code {
    List<Record> Records = [];

    protected override async Task OnInitializedAsync()
    {
        Records = await HttpClient.GetFromJsonAsync<List<Record>>("records");
        Console.WriteLine($"Records: {Records}");

    }
}
