@page "/"
@using ServiceRecordFrontend.Components.Records
@using ServiceRecordFrontend.Models;

@inject HttpClient HttpClient

<PageTitle>Home</PageTitle>

@* <RecordForm /> *@
<div class="d-flex flex-row justify-content-center gap-4">
    <section>
        <RecordList @rendermode="InteractiveServer" Records="records" />
    </section>
    <section>
        <RecordForm OnRecordPosted="refreshRecords" />
    </section>
</div>


@code {
    private List<Record> records = [];

    protected override async Task OnInitializedAsync()
    {
        records = await HttpClient.GetFromJsonAsync<List<Record>>("records");

    }

    public async Task refreshRecords()
    {
        await fetchRecords();
        StateHasChanged();
    }

    private async Task fetchRecords()
    {
        records = await HttpClient.GetFromJsonAsync<List<Record>>("records");
    }
}
